﻿@using NOSWebApp.Extensions
@using Microsoft.AspNet.Identity
@using Syncfusion.EJ2
@using Syncfusion.EJ2.Navigations
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - BetTilt</title>
    <link rel="icon" href="@Url.Content("~/Media/favicon.ico")" />
    @Styles.Render("~/Content/scss")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>
<body class="h-100">

    <div id="mySidenav" class="sidenav" style="box-shadow: -5px 0px 15px 1px green;">
        <a class="closebtn" onclick="closeNav()">&times;</a>

        <div class="row text-center">

            <div class="col-12">

                <div class="row text-center">

                    <div class="col-12 my-2">
                        <img src="@Url.Content(User.Identity.GetProfilePic())" height="75" class="rounded-circle" />

                    </div>

                    <div class="col-12 my-2">
                        <h3>Hi, @User.Identity.GetLastUserName() !</h3>
                    </div>

                </div>

            </div>

            <div class="col-12">

                <p>Bank Account: <a href="@Url.Action("Bank","Dashboard")">@User.Identity.GetBankBalance() €</a></p>

            </div>

            <div class="col-12 mb-2" style="border-top:1px solid white">

            </div>

            <div class="col-12">

                <div class="row">

                    <div class="col-12">
                        <h4>Navigation:</h4>
                    </div>

                    <ul class="row w-100">
                        <li class="col-12">
                            <a href="@Url.Action("Index","Leagues")" style="">Leagues</a>
                        </li>

                        <li class="col-12">
                            <a href="@Url.Action("Index","Clubs")">Clubs</a>
                        </li>

                        <li class="col-12">
                            <a href="@Url.Action("About","Dashboard")">About</a>
                        </li>

                        <li class="col-12">
                            <a href="@Url.Action("Contact","Dashboard")">Contact</a>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-12 mb-2" style="border-top:1px solid white">

            </div>



        </div>

        <div class="row text-center mb-3" style="position:absolute; bottom:0px; padding-left:10%; padding-bottom:15px">
            <div class="col-12">

                <div class="row">

                    <div class="col-12 mb-2">

                        @Html.ActionLink("Edit Account", "EditUser", "Users", new { userId = User.Identity.GetUserId() }, null)

                    </div>

                    <div class="col-12">

                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                            
                        }

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div id="container">

        <nav class="px-5 navbar navbar-expand">

            <a class="navbar-brand" href="@Url.Action("Home", "Dashboard")">
                <img id="navLogo" src="~/Media/Shared/Navbar/BetTiltLogo.png" height="50" alt="">
            </a>

            <div id="maxNav" class="nav w-100">

                <ul class="nav align-items-center">

                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Leagues")">Leagues <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Clubs")">Clubs <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("About", "Dashboard")">About <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Dashboard")">Contact <span class="sr-only">(current)</span></a>
                    </li>


                </ul>

                <!-- Profile NAV -->
                <ul class="nav align-items-center ml-auto p-2">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Bank","Dashboard")">Saldo: @User.Identity.GetBankBalance() €</a>
                    </li>

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="dropdownClient" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <img src="@Url.Content(User.Identity.GetProfilePic())" height="35" class="rounded-circle" />
                            <span> @User.Identity.GetLastUserName()</span>

                        </a>

                        <div class="dropdown-menu text-center" aria-labelledby="dropdownClient" style="background-color:#111; color:white; border:green solid 1px;">

                            @Html.ActionLink("Edit Account", "EditUser", "Users", new { userId = User.Identity.GetUserId() }, null)

                            <br />

                            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                            {
                                @Html.AntiForgeryToken()
                                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                            }
                        </div>

                    </li>


                </ul>

            </div>

            <div id="sideNav" class="nav w-100">

                <ul class="nav align-items-center ml-auto p-2">

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" onclick="openNav()" id="dropdownClient" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <img src="@Url.Content(User.Identity.GetProfilePic())" height="35" class="rounded-circle" />
                            <span> @User.Identity.GetLastUserName()</span>

                        </a>

                    </li>

                </ul>

            </div>

        </nav>

        @if (User.IsInRole("Admin"))
        {
            <nav class="px-5 navbar navbar-expand adminNav">


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <div class="collapse navbar-collapse" id="navbarNavDropdown">

                    <ul class="navbar-nav">
                        <li class="nav-item ">
                            <span class="nav-link">SU: </span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Users")">Users<span class="sr-only">(current)</span></a>
                        </li>
                    </ul>


                </div>

            </nav>
        }


        <div id="content" class="mx-5 mt-2">
            <div class="container-fluid px-2">

                @RenderBody()

            </div>
        </div>

        <footer class="px-5 pt-2 text-center">

            <p>
                ©Copyright 2019 - BetTilt by Ruben Mateus
            </p>

            <span>
                DISCLAIMER: THIS IS NOT A REAL BETTING WEBSITE, BUT A SCHOOL PROJECT
            </span>


        </footer>
    </div>



    @Html.EJS().ScriptManager()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/syncfusionEJ2")
    @RenderSection("scripts", required: false)

    <script>
        $(window).ready(NavLogoRezise);

        $(window).resize(NavLogoRezise);

        function NavLogoRezise() {
            if ($(window).width() < 465) {
                $("img#navLogo").attr("src", "/Media/Shared/Navbar/BetTilSmallLogo.png");
            } else {

                $("img#navLogo").attr("src", "/Media/Shared/Navbar/BetTiltLogo.png");
            }
        }
        /* Set the width of the side navigation to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        };

        /* Set the width of the side navigation to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

    </script>

</body>
</html>
