﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Tittle BetTilt</title>
    <link rel="icon" href="@Url.Content("~/Media/favicon.ico")" />

    @Styles.Render("~/Content/Alternativescss")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/syncfusionEJ2")
</head>
<body class="h-100">

    @RenderBody()

    @Html.EJS().ScriptManager()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
