﻿@using NOSWebApp.Extensions
@using Microsoft.AspNet.Identity
@model NOSWebApp.ViewModels.SeasonStatsView

@{
    ViewBag.Title = $"Season {Model.Season.StartDate.Month}.{Model.Season.StartDate.Year}{(Model.Season.EndDate.HasValue ? $"/ {Model.Season.EndDate.Value.Month}.{Model.Season.EndDate.Value.Year.ToString()}" : "")}";
}

    

<h2>
    <a href="@Url.Action("Index","League",new {id = Model.Season.LeagueId })">@Model.Season.League.Name</a>
</h2>

<div id="ej2Tab">

    <div class="e-tab-header">
        <div>Season</div>
        <div>Season Information</div>
        <div>Season Fixtures</div>
        <div>Season Clubs</div>
        <div>Season Betters</div>
    </div>

    <div class="e-content">

        <!-- Season -->
        <div>
            <br />

            <div class="row">

                <div class="col-12">

                    <div class="row">

                        <div class="col-5">
                            <h3>Season @Model.Season.StartDate.Month.@Model.Season.StartDate.Year @(Model.Season.EndDate.HasValue ? $"/ {Model.Season.EndDate.Value.Month}.{Model.Season.EndDate.Value.Year.ToString()}" : "") - @Model.Season.SeasonStatus</h3>
                        </div>

                        <div class="col-7 d-flex align-items-end flex-column">
                            <h4> Season pot:</h4>
                            <h2 style="color:gold">@Model.Season.Betters.Sum(b => b.MoneyBetted) €</h2>
                        </div>

                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class=" col-12 text-danger">
                                @ViewBag.ErrorMessage
                            </div>
                        }

                        <div class="col-12">
                            <h4>Fixture @Model.Season.Fixtures.Count() of @Model.Season.MaxFixtures</h4>
                        </div>

                    </div>

                </div>

                <div class="col-12">

                    <div class="row">

                        <div class="col-12">
                            @if ((Model.Season.SeasonStatus == NOSWebApp.Models.SeasonStatus.WaitingToStart || Model.Season.SeasonStatus == NOSWebApp.Models.SeasonStatus.InPogress) && Model.Season.League.IsActive && User.IsInRole("LeagueAdmin")) 
                            {
                                <h5>@Html.ActionLink("New Fixture", "AddFixture", new { id = Model.Season.SeasonId })</h5>
                            }
                        </div>

                        <div class="col-12">

                            <div class="table-responsive">

                                <table class="table text-center" style="border:white 1px solid">
                                    <tr>
                                        <th>
                                            Position
                                        </th>
                                        <th>
                                            Club
                                        </th>
                                        <th>
                                            Games Played
                                        </th>
                                        <th>
                                            Victories
                                        </th>
                                        <th>
                                            Draws
                                        </th>
                                        <th>
                                            Defeats
                                        </th>
                                        <th>
                                            Goals Scored
                                        </th>
                                        <th>
                                            Goals Conceded
                                        </th>
                                        <th>
                                            Pts
                                        </th>
                                        <th>
                                            Better
                                        </th>

                                    </tr>

                                    @foreach (var club in Model.ClubSeasonStats)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => club.Position)
                                            </td>

                                            <td>
                                                <img src="@Url.Content(club.Club.LogoImage)" height="25" />
                                                @Html.DisplayFor(modelItem => club.Club.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => club.GamesPlayed)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => club.Victories)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => club.Draws)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => club.Defeats)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => club.GoalsScored)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => club.GoalsConceded)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => club.Pts)
                                            </td>
                                            <td>
                                                @if ((Model.Season.SeasonStatus == NOSWebApp.Models.SeasonStatus.WaitingToStart) && Model.Season.League.IsActive)
                                                {
                                                    if (Model.Season.Betters.Count() != 0)
                                                    {
                                                        if (Model.Season.Betters.FirstOrDefault(b => (b.ClubId == club.Club.ClubId && b.SeasonId == Model.Season.SeasonId)) != null)
                                                        {
                                                            <a href="@Url.Action("Home","Dashboard",new {id = Model.Season.Betters.FirstOrDefault(b => b.ClubId == club.Club.ClubId && b.SeasonId == Model.Season.SeasonId).Better.Id})">@Model.Season.Betters.Single(b => b.ClubId == club.Club.ClubId && b.SeasonId == Model.Season.SeasonId).Better.UserName</a>

                                                            if (User.IsInRole("LeagueAdmin") && Model.Season.League.IsActive)
                                                            {
                                                                <span>  | </span><a href="@Url.Action("KickUser","Season",new {userId = Model.Season.Betters.FirstOrDefault(b => b.ClubId == club.Club.ClubId && b.SeasonId == Model.Season.SeasonId).Better.Id, seasonId = Model.Season.SeasonId, clubId = club.Club.ClubId })">Kick Player</a>
                                                            }
                                                        }
                                                        else if (Model.Season.Betters.Where(b => b.Better.Id.ToString().ToUpper() == User.Identity.GetUserId().ToUpper()).Count() == 0)
                                                        {
                                                            <div id="@Model.Season.SeasonId@club.Club.ClubId" class="modal">

                                                                <!-- Modal content -->
                                                                <div class="modal-content">
                                                                    <span class="close" onclick="document.getElementById('@Model.Season.SeasonId@club.Club.ClubId').style.display = 'none'">&times;</span>
                                                                    @using (Html.BeginForm("CreateSeasonBet", "Season", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-row", role = "form" }))
                                                                    {
                                                                        @Html.AntiForgeryToken()

                                                                        <input type="number" name="id" id="id" value="@Model.Season.SeasonId" style="display:none" />
                                                                        <input type="number" name="clubId" id="clubId" value="@club.Club.ClubId" style="display:none" />

                                                                        <div class="col-12">
                                                                            @Html.ValidationSummary("", new { @class = "text-danger" })
                                                                        </div>

                                                                        <div class="col-12 mt-3">
                                                                            <p>Club Betting:</p>
                                                                            <img src="@Url.Content(club.Club.LogoImage)" height="75" />
                                                                            <p>@club.Club.Name.ToUpper()</p>
                                                                        </div>

                                                                        <div class="col-12 mt-3">
                                                                            <p>How much you wanna bet?</p>
                                                                            <input type="number" name="moneyBetted" id="moneyBetted" min="25" value="25" />
                                                                        </div>

                                                                        <div class="col-12 mt-5">
                                                                            <input type="submit" value="Create" class="btn p3 btn-info" />
                                                                        </div>

                                                                    }

                                                                </div>

                                                            </div>

                                                            <a href="#" onclick="document.getElementById('@Model.Season.SeasonId@club.Club.ClubId').style.display = 'block'" id="myBtn">Bet Me</a>

                                                        }
                                                        else
                                                        {
                                                            <span>Waiting For Better</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <div id="@Model.Season.SeasonId@club.Club.ClubId" class="modal">

                                                            <!-- Modal content -->
                                                            <div class="modal-content">
                                                                <span class="close" onclick="document.getElementById('@Model.Season.SeasonId@club.Club.ClubId').style.display = 'none'">&times;</span>
                                                                @using (Html.BeginForm("CreateSeasonBet", "Season", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-row", role = "form" }))
                                                                {
                                                                    @Html.AntiForgeryToken()

                                                                    <input type="number" name="id" id="id" value="@Model.Season.SeasonId" style="display:none" />
                                                                    <input type="number" name="clubId" id="clubId" value="@club.Club.ClubId" style="display:none" />

                                                                    <div class="col-12">
                                                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                                                    </div>

                                                                    <div class="col-12 mt-3">
                                                                        <p>Club Betting:</p>
                                                                        <img src="@Url.Content(club.Club.LogoImage)" height="75" />
                                                                        <p>@club.Club.Name.ToUpper()</p>
                                                                    </div>

                                                                    <div class="col-12 mt-3">
                                                                        <p>How much you wanna bet?</p>
                                                                        <input type="number" name="moneyBetted" id="moneyBetted" min="25" value="25" />
                                                                    </div>

                                                                    <div class="col-12 mt-5">
                                                                        <input type="submit" value="Create" class="btn p3 btn-info" />
                                                                    </div>

                                                                }

                                                            </div>

                                                        </div>

                                                        <a href="#" onclick="document.getElementById('@Model.Season.SeasonId@club.Club.ClubId').style.display = 'block'" id="myBtn">Bet Me</a>

                                                    }
                                                }
                                                else if (Model.Season.SeasonStatus == NOSWebApp.Models.SeasonStatus.Finished || Model.Season.SeasonStatus == NOSWebApp.Models.SeasonStatus.InPogress)
                                                {
                                                    if (Model.Season.Betters.Count() != 0)
                                                    {
                                                        if (Model.Season.Betters.FirstOrDefault(b => (b.ClubId == club.Club.ClubId && b.SeasonId == Model.Season.SeasonId)) != null)
                                                        {
                                            <a href="@Url.Action("Home","Dashboard",new {id = Model.Season.Betters.FirstOrDefault(b => b.ClubId == club.Club.ClubId && b.SeasonId == Model.Season.SeasonId).Better.Id})">@Model.Season.Betters.Single(b => b.ClubId == club.Club.ClubId && b.SeasonId == Model.Season.SeasonId).Better.UserName</a>

                                                            if (User.IsInRole("LeagueAdmin") && Model.Season.SeasonStatus == NOSWebApp.Models.SeasonStatus.InPogress && Model.Season.League.IsActive)
                                                            {
                                                                <span>  | </span><a href="@Url.Action("KickUser","Season",new {userId = Model.Season.Betters.FirstOrDefault(b => b.ClubId == club.Club.ClubId && b.SeasonId == Model.Season.SeasonId).Better.Id, seasonId = Model.Season.SeasonId, clubId = club.Club.ClubId })">Kick Player</a>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <span>N/A</span>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <span>N/A</span>
                                                    }
                                                }
                                                else
                                                {
                                                    <span>N/A</span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </table>

                            </div>

                        </div>

                    </div>



                </div>

                @if (Model.Season.Fixtures.Count != 0)
                {
                    <div class="col-12">
                        <hr />
                        <h3>Latest Fixture - nº @Model.Season.Fixtures.Count()</h3>

                        <div class="table-responsive ">
                            <table class="table text-center" style="border:1px solid white">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Season.Fixtures.First().GameMatches.First().HomeClub)
                                    </th>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Season.Fixtures.First().GameMatches.First().AwayClub)
                                    </th>

                                </tr>

                                @foreach (var gamematch in Model.Season.Fixtures.OrderByDescending(f => f.FixtureId).First().GameMatches)
                                {

                                    <tr>
                                        <td>
                                            <img src="@Url.Content(gamematch.HomeClub.LogoImage)" height="25" />
                                            @Html.DisplayFor(item => gamematch.HomeClub.Name)
                                        </td>
                                        <td>
                                            @gamematch.HomeGoals VS @gamematch.AwayGoals
                                        </td>
                                        <td>
                                            <img src="@Url.Content(gamematch.AwayClub.LogoImage)" height="25" />
                                            @Html.DisplayFor(item => gamematch.AwayClub.Name)
                                        </td>
                                    </tr>

                                }
                            </table>
                        </div>
                    </div>
                }
            </div>

        </div>

        <!-- Season Information -->
        <div>
            <br />

            <div class="row">

                <div class="col-12">
                    <h3>Season @Model.Season.StartDate.Month.@Model.Season.StartDate.Year @(Model.Season.EndDate.HasValue ? $"/ {Model.Season.EndDate.Value.Month}.{Model.Season.EndDate.Value.Year.ToString()}" : "")</h3>
                    <p>
                        Total Fixtures: @Model.TotalFixtures |
                        Total Gamematches: @Model.TotalGameMatches |
                        Total Season Goals Scores: @Model.TotalGoalsScored
                    </p>
                </div>


                @if (Model.Season.SeasonStatus == NOSWebApp.Models.SeasonStatus.Finished)
                {
                    <div class="col-12 mt-3">

                        <div class="row justify-content-around text-center">

                            <div class="col-6 text-center">

                                <div class="row text-center">
                                    <a href="@Url.Action("Index","Club",new {id = Model.ClubSeasonStats.First().Club.ClubId })" style="margin:auto">
                                        <div class="col-12">
                                            First Place
                                        </div>

                                        <div class="col-12">
                                            <img src="@Url.Content(Model.ClubSeasonStats.First().Club.LogoImage)" class="img-fluid" style="max-height:150px" />
                                        </div>

                                        <div class="col-12">
                                            @Model.ClubSeasonStats.First().Club.Name
                                        </div>
                                    </a>
                                </div>

                            </div>

                            <div class="col-6 text-center">
                                <div class="row text-center">
                                    <a href="@Url.Action("Index","Club",new { id = Model.ClubSeasonStats.Last().Club.ClubId})" style="margin:auto">
                                        <div class="col-12">
                                            Last Place
                                        </div>

                                        <div class="col-12">
                                            <img src="@Url.Content(Model.ClubSeasonStats.Last().Club.LogoImage)" class="img-fluid" style="max-height:150px" />
                                        </div>

                                        <div class="col-12">
                                            @Model.ClubSeasonStats.Last().Club.Name
                                        </div>
                                    </a>
                                </div>
                            </div>

                        </div>

                    </div>
                }



            </div>




        </div>

        <!-- Season Fixtures-->
        <div>
            <br />
            @{
                var count = Model.Season.Fixtures.Count;

                foreach (var fixture in Model.Season.Fixtures.OrderByDescending(f => f.FixtureId))
                {
                    <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href='#fixture-@fixture.FixtureId' role="button" aria-expanded="false" aria-controls='fixture-@fixture.FixtureId'>Fixture nº @count</a>
                    <div class="collapse" id='fixture-@fixture.FixtureId'>
                        <div class="table-responsive">

                            <table class="table text-center">

                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Season.Fixtures.First().GameMatches.First().HomeClub)
                                    </th>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Season.Fixtures.First().GameMatches.First().AwayClub)
                                    </th>

                                </tr>

                                <tbody>
                                    @foreach (var gamematch in fixture.GameMatches)
                                    {
                                        <tr class="text-center">
                                            <td>
                                                <img src="@Url.Content(gamematch.HomeClub.LogoImage)" height="25" />
                                                @Html.DisplayFor(item => gamematch.HomeClub.Name)
                                            </td>
                                            <td>
                                                @gamematch.HomeGoals VS @gamematch.AwayGoals
                                            </td>
                                            <td>
                                                <img src="@Url.Content(gamematch.AwayClub.LogoImage)" height="25" />
                                                @Html.DisplayFor(item => gamematch.AwayClub.Name)
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>
                    </div>

                    <hr style="border-color:transparent" />

                    count--;
                }
            }



        </div>

        <!-- Season Clubs-->
        <div>
            <br />

            <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#ac" role="button" aria-expanded="false" aria-controls="ac">Active Clubs</a>
            <div class="collapse show" id="ac">
                <div class="table-responsive">

                    <table class="table">

                        <thead>
                            <tr class="text-center">
                                <th>Club Logo</th>
                                <th>Club Name</th>
                                <th>Club Description</th>
                                <th>Club Stadium</th>
                                <th>Club Fans</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var club in Model.Season.SeasonClubs.Where(c => c.IsActive))
                            {
                                <tr class="text-center">
                                    <td>
                                        @if (club.LogoImage != null)
                                        {<img src="@Url.Content(club.LogoImage)" height="50" />}
                                    </td>
                                    <td>@club.Name</td>
                                    <td>@club.Description</td>
                                    <td>@club.Stadium</td>
                                    <td>@club.Fans.Count()</td>
                                    <td>@Html.ActionLink("View Club", "Index", "Club", new { id = club.ClubId }, null)</td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

            <hr style="border-color:transparent" />

            <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#ds" role="button" aria-expanded="false" aria-controls="ds">Disabled Clubs</a>
            <br />
            <div class="collapse" id="ds">
                <div class="table-responsive">

                    <table class="table">

                        <thead>
                            <tr class="text-center">
                                <th>Club Logo</th>
                                <th>Club Name</th>
                                <th>Club Description</th>
                                <th>Club Stadium</th>
                                <th>Club Fans</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var club in Model.Season.SeasonClubs.Where(c => !c.IsActive))
                            {
                                <tr class="text-center">
                                    <td>
                                        @if (club.LogoImage != null)
                                        {<img src="@Url.Content(club.LogoImage)" height="50" />}
                                    </td>
                                    <td>@club.Name</td>
                                    <td>@club.Description</td>
                                    <td>@club.Stadium</td>
                                    <td>@club.Fans.Count()</td>
                                    <td>@Html.ActionLink("View Club", "Index", "Club", new { id = club.ClubId }, null)</td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

        <!--Season Betters-->
        <div>
            <br />

            <div class="table-responsive">

                <table class="table text-center">
                    <tr>
                        <th>
                            Better
                        </th>
                        <th>
                            Club Betted
                        </th>
                        <th>
                            Money Betted
                        </th>


                    </tr>

                    @foreach (var better in Model.Season.Betters)
                    {
                        <tr>
                            <td>
                                <a href="@Url.Action("Home","Dashboard",new {id = better.Better.Id})">
                                    <img src="@Url.Content(better.Better.ProfilePic)" height="25" />
                                    @better.Better.UserName
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("Index","Club",new {id = better.ClubId })">
                                    <img src="@Url.Content(better.ClubBetted.LogoImage)" height="25" />
                                    @better.ClubBetted.Name
                                </a>
                            </td>
                            <td>
                                @better.MoneyBetted €
                            </td>
                        </tr>
                    }
                </table>

            </div>

        </div>

    </div>

</div>



@section Scripts {
    <script type="text/javascript">
        var tabObj = new ej.navigations.Tab({
            heightAdjustMode: "Content"
        });
        tabObj.appendTo('#ej2Tab');
 
    </script>

}













