﻿@using NOSWebApp.Extensions
@model NOSWebApp.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage - " + @User.Identity.Name;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
