﻿@model NOSWebApplication.Models.FixtureModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FixtureModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Season.idSeason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.idSeason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idFixture }) |
    @Html.ActionLink("Back to List", "Index")
</p>
