﻿@model NOSWebApp.ViewModels.UserView

@{
    ViewBag.Title = "AddRole";
}

<h2>Adicionar permissão o utilizador: @Model.Username</h2>
<h3>@ViewBag.Error</h3>

@using (Html.BeginForm("AddRole", "Users", new { userID = Model.UserID }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.Role.RoleID, "Role", htmlAttributes: new { @class = "" })
            <div class="">
                @Html.DropDownList("RoleID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Role.RoleID, "", new { @class = "text-danger" })
            </div>
        </div>

        <br /><br />

        @Html.ActionLink("Voltar para utilizador", "Roles", new { userID = Model.UserID }, new { @class = "btn btn-secondary" })

        <input type="submit" value="Adiciona Permissão" class="btn btn-info" />

    </div>

}

