﻿@using NOSWebApp.Extensions
@model NOSWebApp.Models.ApplicationUser

@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>

@using (Html.BeginForm("EditUser", "Users", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-row", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Birthday)
    @Html.HiddenFor(model => model.BankAccount)
    @Html.HiddenFor(model => model.PostalCode)
    @Html.HiddenFor(model => model.ProfilePic)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.Email)

    <div class="row w-100">

        <div class="col-12">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>

        <div class="col-6 ">

            <div class="row h-100 align-items-center">

                <div class="col-md-6 mt-3">
                    @Html.LabelFor(m => m.UserName, new { @class = "" })
                    <span class="form-control inputShadow" style="background-color:#111">@Model.UserName</span>
                </div>



                <div class="col-md-6 mt-3">
                    @Html.LabelFor(m => m.Email, new { @class = "" })
                    <span class="form-control inputShadow" style="background-color:#111">@Model.Email</span>
                </div>


                <div class="col-md-6 mt-3">
                    @Html.LabelFor(m => m.FirstName, new { @class = "" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control inputextShadow" })
                </div>

                <div class="col-md-6 mt-3">
                    @Html.LabelFor(m => m.LastName, new { @class = "" })

                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control inputextShadow" })
                </div>


            </div>


        </div>

        <div class="col-6">

            <div class="row text-center">

                <div class="col-12">
                    Profile Pic
                </div>

                <div class="col-12 mt-2">
                    <img id="blah" src="@Url.Content(Model.ProfilePic)" alt="Preview Image" height="200" />
                </div>

                <div class="col-12 mt-2">
                    @Html.TextBoxFor(model => model.ImageURL, new { type = "file", id = "imgInp" })
                </div>

            </div>

        </div>

        <div class="col-12 mt-5">

            @Html.LabelFor(model => model.ClubId, "Favourite Club", htmlAttributes: new { @class = "" })
            @Html.DropDownList("ClubId", null, htmlAttributes: new { @class = "form-control" })

        </div>

        <hr />

        <div class="col-12 mt-5">
            <input type="submit" value="Save Changes" class="btn p3 btn-info" />
        </div>

        <div class="col-12 mt-3">
            <a href="@Url.Action("ChangePassword","Manage")" class="btn btn-secondary">Change Password</a>
        </div>

    </div>


}

<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });
</script>