﻿@model  IEnumerable<NOSWebApp.ViewModels.UserView>

@{
    ViewBag.Title = "Users";
}

<h2>Index</h2>


<table class="table text-center mt-3">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfilePic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.ProfilePic))
                {
                    <img src="@Url.Content(item.ProfilePic)" alt="@item.FullName" style="width: 50px; height: 50px;" />
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @foreach (var role in item.Roles)
                {
                    @Html.DisplayFor(modelItem => role.Name)
                    <br />
                }
            </td>
            <td>
                @Html.ActionLink("Edit Roles", "Roles", new { UserID = item.UserID })
            </td>
        </tr>
    }

</table>