﻿@model NOSWebApp.ViewModels.UserView
@{
    ViewBag.Title = "Permissões";
}

<h2>Permissões para o utilizador: @Model.Username </h2>

<p>
    @Html.ActionLink("Adicionar Permissão", "AddRole", new { userID = Model.UserID }, new { @class = "btn btn-info" })
    @Html.ActionLink("Voltar", "Index", new { user = Model }, new { @class = "btn btn-secondary" })
</p>

<table class="table">
    @for (int i = 0; i < Model.Roles.Count; i++)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.Roles[i].Name)
            </td>
            <td class="text-right">
                @Html.ActionLink("Apagar", "Delete", new { userID = Model.UserID, roleId = Model.Roles[i].RoleID })
            </td>
        </tr>
    }
</table>

