﻿@using NOSWebApp.Helpers
@model NOSWebApp.ViewModels.LeagueStatsView

@{
    ViewBag.Title = Model.League.Name;
}

<div id="ej2Tab">

    <div class="e-tab-header">
        <div>League Seasons</div>
        <div>League Information</div>
        <div>League Clubs</div>
    </div>

    <div class="e-content">

        <!-- League Seasons -->
        <div>
            <br />

            @if (User.IsInRole("LeagueAdmin") && Model.League.IsActive)
            {
                <h6>@Html.ActionLink("Create New Season", "AddSeason", "League", new { id = Model.League.LeagueId }, null)</h6>
                <p class="text-danger">
                    @ViewBag.ErrorMessage
                </p>
            }

            <br />

            <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#swts" role="button" aria-expanded="false" aria-controls="swts">Seasons Waiting To Start</a>
            <div class="collapse show" id="swts">

                <div class="table-responsive">

                    <table class="table">

                        <thead>
                            <tr class="text-center">
                                <th>Season</th>
                                <th>Season Status</th>
                                <th>Season Pot</th>
                                <th>Season Clubs</th>
                                <th>Season Max Fixtures</th>
                                <th>Season Max GameMatches</th>
                                <th>Season Betters</th>
                                <th></th>
                                @if (User.IsInRole("LeagueAdmin"))
                                {
                                    <th></th>
                                }
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var season in Model.League.Seasons.Where(s => s.SeasonStatus == NOSWebApp.Models.SeasonStatus.WaitingToStart).OrderByDescending(s => s.SeasonId))
                            {
                                <tr class="text-center">
                                    <td>@season.StartDate.ToShortDateString()</td>
                                    <td>@season.SeasonStatus</td>
                                    <td>@season.Betters.Sum(b => b.MoneyBetted) €</td>
                                    <td>@season.SeasonClubs.Count()</td>
                                    <td>@season.MaxFixtures</td>
                                    <td>@season.Fixtures.Sum(f => f.GameMatches.Count())</td>
                                    <td>@season.Betters.Count() / @season.SeasonClubs.Count()</td>
                                    <td>@Html.ActionLink("View", "Index", "Season", new { id = season.SeasonId }, null)</td>
                                    @if (User.IsInRole("LeagueAdmin") && season.SeasonStatus == NOSWebApp.Models.SeasonStatus.WaitingToStart && Model.League.IsActive)
                                    {
                                        <td>@Html.ActionLink("Cancel Season", "CancelSeason", "League", new { id = season.SeasonId }, null)</td>
                                    }
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>

            </div>

            <hr style="border-color:transparent" />

            <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#sip" role="button" aria-expanded="false" aria-controls="sip">Seasons In Progress</a>
            <div class="collapse" id="sip">

                <div class="table-responsive">

                    <table class="table">

                        <thead>
                            <tr class="text-center">
                                <th>Season</th>
                                <th>Season Status</th>
                                <th>Season Pot</th>
                                <th>Season Clubs</th>
                                <th>Season Fixtures</th>
                                <th>Season Betters</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var season in Model.League.Seasons.Where(s => s.SeasonStatus == NOSWebApp.Models.SeasonStatus.InPogress).OrderByDescending(s => s.SeasonId))
                            {
                                <tr class="text-center">
                                    <td>@season.StartDate.ToShortDateString()</td>
                                    <td>@season.SeasonStatus</td>
                                    <td>@season.Betters.Sum(b => b.MoneyBetted) €</td>
                                    <td>@season.SeasonClubs.Count()</td>
                                    <td>@season.Fixtures.Count() / @season.MaxFixtures</td>
                                    <td>@season.Betters.Count() / @season.SeasonClubs.Count()</td>
                                    <td>@Html.ActionLink("View", "Index", "Season", new { id = season.SeasonId }, null)</td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>

            </div>

            <hr style="border-color:transparent" />

            <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#sf" role="button" aria-expanded="false" aria-controls="sf">Seasons Finished</a>
            <div class="collapse" id="sf">

                <div class="table-responsive">

                    <table class="table">

                        <thead>
                            <tr class="text-center">
                                <th>Season</th>
                                <th>Season Status</th>
                                <th>Season Clubs</th>
                                <th>Season Max Fixtures</th>
                                <th>Season Max GameMatches</th>
                                <th>Season Betters</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var season in Model.League.Seasons.Where(s => s.SeasonStatus == NOSWebApp.Models.SeasonStatus.Finished).OrderByDescending(s => s.SeasonId))
                            {
                                <tr class="text-center">
                                    <td>@season.StartDate.ToShortDateString() - @season.EndDate.Value.ToShortDateString()</td>
                                    <td>@season.SeasonStatus</td>
                                    <td>@season.SeasonClubs.Count()</td>
                                    <td>@season.MaxFixtures</td>
                                    <td>@season.Fixtures.Sum(f => f.GameMatches.Count())</td>
                                    <td>@season.Betters.Count() / @season.SeasonClubs.Count()</td>
                                    <td>@Html.ActionLink("View", "Index", "Season", new { id = season.SeasonId }, null)</td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>

            </div>

            <hr style="border-color:transparent" />

            <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#cs" role="button" aria-expanded="false" aria-controls="cs">Canceled Seasons</a>
            <div class="collapse" id="cs">

                <div class="table-responsive">

                    <table class="table">

                        <thead>
                            <tr class="text-center">
                                <th>Season</th>
                                <th>Season Status</th>
                                <th>Season Clubs</th>
                                <th>Season Max Fixtures</th>
                                <th>Season Max GameMatches</th>
                                <th>Season Betters</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var season in Model.League.Seasons.Where(s => s.SeasonStatus == NOSWebApp.Models.SeasonStatus.Canceled).OrderByDescending(s => s.SeasonId))
                            {
                                <tr class="text-center">
                                    <td>@season.StartDate.ToShortDateString()</td>
                                    <td>@season.SeasonStatus</td>
                                    <td>@season.SeasonClubs.Count()</td>
                                    <td>@season.MaxFixtures</td>
                                    <td>@season.Fixtures.Sum(f => f.GameMatches.Count())</td>
                                    <td>@season.Betters.Count() / @season.SeasonClubs.Count()</td>
                                    <td>@Html.ActionLink("View", "Index", "Season", new { id = season.SeasonId }, null)</td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>

            </div>
        </div>

        <!-- League Information -->
        <div>
            <br />

            <div class="row">

                <div class="col-12">

                    <div class="row justify-content-center">

                        @if (User.IsInRole("LeagueAdmin"))
                        {
                        <div class="col-12">
                            <h3><a href="@Url.Action("Edit","Leagues",new {id = Model.League.LeagueId })">Edit League</a></h3>
                        </div>
                            
                        }

                        <div class="col-2 pr-0" style="min-width:125px">
                            <img src="@Url.Content(Model.League.LogoImage)" class="img-fluid" min-height="125" />
                        </div>

                        <div class="col-sm-10" style="min-width:300px;">

                            <div class="row h-100">

                                <div class="col-12">
                                    <h2>@Model.League.Name</h2>
                                </div>

                                <div class="col-12">
                                    <span>@Model.League.Description</span>
                                </div>

                                <div class="col-12 align-self-end">
                                    @if (Model.League.Seasons.Count != 0)
                                    {
                                        <span>

                                            Total Seasons Made: @Model.TotalSeason.ToString() | Total Fixtures Made: @Model.TotalFixtures.ToString() | Total GameMatches Made: @Model.TotalGameMatches.ToString() | Total Goals Scored: ifodel.TotalGoalsScored.ToString()
                                           
                                        </span>
                                    }
                                    </div>

                            </div>
                            
                        </div>

                        <div class="col-12">
                            <hr />
                        </div>

                        @if (Model.League.Seasons.Count() != 0)
                        {
                        <div class="col-12">

                            <div class="row justify-content-around">

                                <div col-3 class="m-1">

                                    <div class="row text-center ">

                                        <a href="@Url.Action("Index", "Club", new { id = Model.ClubMostVictories.ClubId })">
                                            <div class="col-12">
                                                Club with Most Wins
                                            </div>

                                            <div class="col-12">
                                                <img src="@Url.Content(Model.ClubMostVictories.LogoImage)" class="img-fluid" style="max-height:150px"/>
                                            </div>

                                            <div class="col-12">
                                                <span>@Model.ClubMostVictories.Name</span>
                                            </div>
                                        </a>
                                    </div>

                                </div>

                                <div col-3 class="m-1">

                                    <div class="row text-center ">

                                        <a href="@Url.Action("Index", "Club", new { id = Model.ClubMostGoalsScored.ClubId })">
                                            <div class="col-12">
                                                Club with Most Goals
                                            </div>

                                            <div class="col-12">
                                                <img src="@Url.Content(Model.ClubMostGoalsScored.LogoImage)" class="img-fluid" style="max-height:150px"/>
                                            </div>

                                            <div class="col-12">
                                                <span>@Model.ClubMostGoalsScored.Name</span>
                                            </div>
                                        </a>
                                    </div>

                                </div>

                                <div col-3 class="m-1">

                                    <div class="row text-center ">

                                        <a href="@Url.Action("Index", "Club", new { id = Model.ClubMostDefeats.ClubId })">
                                            <div class="col-12">
                                                Club with Most Defeats
                                            </div>

                                            <div class="col-12">
                                                <img src="@Url.Content(Model.ClubMostDefeats.LogoImage)" class="img-fluid" style="max-height:150px"/>
                                            </div>

                                            <div class="col-12">
                                                <span>@Model.ClubMostDefeats.Name</span>
                                            </div>
                                        </a>
                                    </div>

                                </div>

                                <div col-3 class="m-1">

                                    <div class="row text-center ">

                                        <a href="@Url.Action("Index", "Club", new { id = Model.ClubMostGoalsConceded.ClubId })">
                                            <div class="col-12">
                                                Club with Most Goals Conceded
                                            </div>

                                            <div class="col-12">
                                                <img src="@Url.Content(Model.ClubMostGoalsConceded.LogoImage)" class="img-fluid" style="max-height:150px"/>
                                            </div>

                                            <div class="col-12">
                                                <span>@Model.ClubMostGoalsConceded.Name</span>
                                            </div>
                                        </a>
                                    </div>

                                </div>
                            </div>

                        </div>
                        }
                    </div>


                </div>

                <div class="col-12">

                    <div class="row">

                        <div class="col-12">

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!-- League Clubs-->
        <div>
            <br />

            <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#ac" role="button" aria-expanded="false" aria-controls="ac">Active Clubs</a>
            <div class="collapse show" id="ac">
                <div class="table-responsive">

                    <table class="table">

                        <thead>
                            <tr class="text-center">
                                <th>Club Logo</th>
                                <th>Club Name</th>
                                <th>Club Description</th>
                                <th>Club Stadium</th>
                                <th>Club Fans</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var club in Model.League.Clubs.Where(c => c.IsActive))
                            {
                                <tr class="text-center">
                                    <td>@if (club.LogoImage != null)
                                    {<img src="@Url.Content(club.LogoImage)" height="50" />}</td>
                                    <td>@club.Name</td>
                                    <td>@club.Description</td>
                                    <td>@club.Stadium</td>
                                    <td>@club.Fans.Count()</td>
                                    <td>@Html.ActionLink("View Club", "Index", "Club", new { id = club.ClubId }, null)</td>
                                </tr>
                            }
                        </tbody>

                    </table>

                </div>
            </div>

            <hr style="border-color:transparent" />

            <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#ds" role="button" aria-expanded="false" aria-controls="ds">Disabled Clubs</a>
            <br />
            <div class="collapse" id="ds">
                <div class="table-responsive">

                    <table class="table">

                        <thead>
                            <tr class="text-center">
                                <th>Club Logo</th>
                                <th>Club Name</th>
                                <th>Club Description</th>
                                <th>Club Stadium</th>
                                <th>Club Fans</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var club in Model.League.Clubs.Where(c => !c.IsActive))
                            {
                                <tr class="text-center">
                                    <td>
                                        @if (club.LogoImage != null)
                                        {<img src="@Url.Content(club.LogoImage)" height="50" />}
                                </td>
                                <td>@club.Name</td>
                                <td>@club.Description</td>
                                <td>@club.Stadium</td>
                                <td>@club.Fans.Count()</td>
                                <td>@Html.ActionLink("View Club", "Index", "Club", new { id = club.ClubId }, null)</td>
                            </tr>
                        }
                        </tbody>

                    </table>

                </div>
            </div>

        </div>

    </div>

</div>



@section Scripts {
    <script type="text/javascript">
        var tabObj = new ej.navigations.Tab({
            heightAdjustMode: "Content"
        });
        tabObj.appendTo('#ej2Tab');
    </script>

}



