﻿@model NOSWebApplication.Models.GameMatchModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>GameMatchModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AwayClub.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayClub.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fixture.idFixture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fixture.idFixture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeClub.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeClub.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayGoals)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
