﻿@model NOSWebApplication.Models.GameMatchModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameMatchModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AwayClub.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayClub.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fixture.idFixture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fixture.idFixture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeClub.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeClub.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeGoals)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AwayGoals)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AwayGoals)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idGameMatch }) |
    @Html.ActionLink("Back to List", "Index")
</p>
