﻿@model IEnumerable<NOSWebApplication.Models.GameMatchModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AwayClub.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fixture.idFixture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeClub.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HomeGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwayGoals)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AwayClub.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fixture.idFixture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeClub.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HomeGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AwayGoals)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idGameMatch }) |
            @Html.ActionLink("Details", "Details", new { id=item.idGameMatch }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idGameMatch })
        </td>
    </tr>
}

</table>
