﻿
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<br />

<h3>Disclaimer</h3>
<p>This is not a real betting website, but instead a school project</p>

<br />

<h3>Made By:</h3>
<p>Rúben Mateus - CET37 - TPSI</p>
<p>05/2019</p>