﻿@using NOSWebApp.Extensions
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Bank";
}

<h2>Bank</h2>

<div class="row mt-3">

    <div class="col-sm-4 text-center my-2">

        <a href="@Url.Action("AddMoney","Dashboard",new {userId = User.Identity.GetUserId() , moneyToAdd = 100})" class="row h-100 align-items-center border py-3 mx-1" id="LeagueBox">

            <div class="col-12 text-center">
                <h3>Little Spender</h3>
            </div>


            <div class="col-12 text-center pb-2 mt-3">

                <img src="~/Media/Shared/Navbar/BetTilSmallLogo.png" class="img-fluid" style="max-height:175px" />
            </div>

            <div class="col-12 align-self-end text-center mt-3">
                <span>ADD 100 COINS!</span>
            </div>

        </a>





    </div>

    <div class="col-sm-4 text-center my-2">

        <a href="@Url.Action("AddMoney","Dashboard",new {userId = User.Identity.GetUserId() , moneyToAdd = 250})" class="row h-100 align-items-center border py-3 mx-1" id="LeagueBox">

            <div class="col-12 text-center">
                <h3>You got money</h3>
            </div>


            <div class="col-12 text-center pb-2 mt-3">

                <img src="~/Media/Shared/Navbar/BetTilSmallLogo.png" class="img-fluid" style="max-height:175px" />
            </div>

            <div class="col-12 align-self-end text-center mt-3">
                <span>ADD 250 COINS!</span>
            </div>

        </a>





    </div>
    <div class="col-sm-4 text-center my-2">

        <a href="@Url.Action("AddMoney","Dashboard",new {userId = User.Identity.GetUserId() , moneyToAdd = 500})" class="row h-100 align-items-center border py-3 mx-1" id="LeagueBox">

            <div class="col-12 text-center">
                <h3>Kaching!</h3>
            </div>



            <div class="col-12 text-center pb-2 mt-3">

                <img src="~/Media/Shared/Navbar/BetTilSmallLogo.png" class="img-fluid" style="max-height:175px" />
            </div>

            <div class="col-12 align-self-end text-center mt-3">
                <span>ADD 500 COINS!</span>
            </div>

        </a>





    </div>

</div>