﻿
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<h3 class="mt-3">Found a Problem?</h3>

<p>Do please send an Email to <a href="mailto:ruben.moleiro.mateus@formandos.cinel.pt">ruben.moleiro.mateus@formandos.cinel.pt</a> </p>