﻿@using NOSWebApp.Extensions
@using NOSWebApp.Helpers

@model NOSWebApp.Models.ApplicationUser

@{
    ViewBag.Title = Model.UserName;
}

<div class="row mt-3">

    <div class="col-md-6">

        <div class="row text-center">

            <div class="col-12">
                <h5>User</h5>
            </div>

            <div class="col-12">
                <img src="@Url.Content(Model.ProfilePic)" height="150" />
            </div>

            <div class="col-12">
                <h2>@Model.UserName</h2>
            </div>

        </div>


    </div>

    <div class="col-md-6">
        @if (Model.FavouriteClub != null)
        {
        <div class="row text-right">

            <div class="col-12">

                <div class="row text-center">

                    <div class="col-12">
                        <h5>Favourite Club</h5>
                    </div>

                    
                        <div class="col-12">
                            <img src="@Url.Content(Model.FavouriteClub.LogoImage)" height="150" />
                        </div>

                        <div class="col-12">
                            <a href="@Url.Action("Index", "Club", new { id = Model.FavouriteClub.ClubId })">
                                <h2>@Model.FavouriteClub.Name.ToUpper()</h2>
                            </a>
                        </div>
                   
                </div>
                
            </div>

        </div>
        }
        else if(User.Identity.Name.ToUpper() == Model.UserName.ToUpper())
        {
            <div class="row text-right ">

                <div class="col-12">
                    <p>Choose Your Favourite Club To its latestes information!</p>
                </div>

                <div class="col-12">
                    <a href="@Url.Action("EditUser","Users",new { userId = Model.Id})">Click Here</a>
                </div>
               
                
            </div>
        }
    </div>

    <div class="col-12">

        <h4 class="mt-3 text-center">Season Player has Participated:</h4>

        <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#swts" role="button" aria-expanded="false" aria-controls="swts">Seasons Waiting To Start</a>
        <div class="collapse" id="swts">

            <div class="table-responsive">

                <table class="table">

                    <thead>
                        <tr class="text-center">
                            <th>Season</th>
                            <th>Season Status</th>
                            <th>Season Pot</th>
                            <th>Season Clubs</th>
                            <th>Season Max Fixtures</th>
                            <th>Season Max GameMatches</th>
                            <th>Season Betters</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var season in Model.SeasonsBetted.Where(s => s.SeasonBetted.SeasonStatus == NOSWebApp.Models.SeasonStatus.WaitingToStart).OrderByDescending(s => s.SeasonId))
                        {
                            <tr class="text-center">
                                <td>@season.SeasonBetted.StartDate.ToShortDateString()</td>
                                <td>@season.SeasonBetted.SeasonStatus</td>
                                <td>@season.SeasonBetted.Betters.Sum(b => b.MoneyBetted) €</td>
                                <td>@season.SeasonBetted.SeasonClubs.Count()</td>
                                <td>@season.SeasonBetted.MaxFixtures</td>
                                <td>@season.SeasonBetted.Fixtures.Sum(f => f.GameMatches.Count())</td>
                                <td>@season.SeasonBetted.Betters.Count() / @season.SeasonBetted.SeasonClubs.Count()</td>
                                <td>@Html.ActionLink("View", "Index", "Season", new { id = season.SeasonId }, null)</td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>

        </div>

        <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#sip" role="button" aria-expanded="false" aria-controls="sip">Seasons In Pogress</a>
        <div class="collapse" id="sip">

            <div class="table-responsive">

                <table class="table">

                    <thead>
                        <tr class="text-center">
                            <th>Season</th>
                            <th>Season Status</th>
                            <th>Season Pot</th>
                            <th>Season Clubs</th>
                            <th>Season Max Fixtures</th>
                            <th>Season Max GameMatches</th>
                            <th>Season Betters</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var season in Model.SeasonsBetted.Where(s => s.SeasonBetted.SeasonStatus == NOSWebApp.Models.SeasonStatus.InPogress).OrderByDescending(s => s.SeasonId))
                        {
                            <tr class="text-center">
                                <td>@season.SeasonBetted.StartDate.ToShortDateString()</td>
                                <td>@season.SeasonBetted.SeasonStatus</td>
                                <td>@season.SeasonBetted.Betters.Sum(b => b.MoneyBetted) €</td>
                                <td>@season.SeasonBetted.SeasonClubs.Count()</td>
                                <td>@season.SeasonBetted.MaxFixtures</td>
                                <td>@season.SeasonBetted.Fixtures.Sum(f => f.GameMatches.Count())</td>
                                <td>@season.SeasonBetted.Betters.Count() / @season.SeasonBetted.SeasonClubs.Count()</td>
                                <td>@Html.ActionLink("View", "Index", "Season", new { id = season.SeasonId }, null)</td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>

        </div>

        <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#sf" role="button" aria-expanded="false" aria-controls="sf">Seasons Finished</a>
        <div class="collapse" id="sf">

            <div class="table-responsive">

                <table class="table">

                    <thead>
                        <tr class="text-center">
                            <th>Season</th>
                            <th>Season Status</th>
                            <th>Season Pot</th>
                            <th>Season Clubs</th>
                            <th>Season Max Fixtures</th>
                            <th>Season Max GameMatches</th>
                            <th>Season Betters</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var season in Model.SeasonsBetted.Where(s => s.SeasonBetted.SeasonStatus == NOSWebApp.Models.SeasonStatus.Finished).OrderByDescending(s => s.SeasonId))
                        {
                            <tr class="text-center">
                                <td>@season.SeasonBetted.StartDate.ToShortDateString()</td>
                                <td>@season.SeasonBetted.SeasonStatus</td>
                                <td>@season.SeasonBetted.Betters.Sum(b => b.MoneyBetted) €</td>
                                <td>@season.SeasonBetted.SeasonClubs.Count()</td>
                                <td>@season.SeasonBetted.MaxFixtures</td>
                                <td>@season.SeasonBetted.Fixtures.Sum(f => f.GameMatches.Count())</td>
                                <td>@season.SeasonBetted.Betters.Count() / @season.SeasonBetted.SeasonClubs.Count()</td>
                                <td>@Html.ActionLink("View", "Index", "Season", new { id = season.SeasonId }, null)</td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>