﻿@{
                /**/

                ViewBag.Title = "400 - Bad Request -";

                Layout = "~/Views/Shared/Layouts/_LayoutErrors.cshtml";
}

<div class="row h-100 text-center align-items-center p-5" style="background-color:black; opacity:0.8">

    <div class="col-12">

        <h1>BAD REQUEST</h1>

    </div>

    <div class="col-12">

        <p>Sorry, seems like you made a bad request, I'm gonna need to give you a red card</p>

    </div>

    <div class="col-12">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Return to Home", "Home", "Dashboard", null, new { @class = "btn  p3 inputextShadow confirmButton" });
        }
        else
        {
            @Html.ActionLink("Return to Home", "Index", "LandingPage", null, new { @class = "btn  p3 inputextShadow confirmButton" });
        }
    </div>

</div>

<style>
    body {
        background-image: url(../../Media/Errors/BadRequest.jpg);
        background-size: cover;
    }

    div > div {
        opacity: 1;
    }
</style>