﻿@{
    /**/

    ViewBag.Title = "500 - Internal Error -";

    Layout = "~/Views/Shared/Layouts/_LayoutErrors.cshtml";
}

<div class="row h-100 text-center align-items-center p-5" style="background-color:black; opacity:0.8">

    <div class="col-12">

        <h1>INTERNAL ERROR</h1>

    </div>

    <div class="col-12">

        <p>Sorry, seems like the server had an unexpected error, don't worry we will take care of it</p>

    </div>

    <div class="col-12">
        @if (User.Identity.IsAuthenticated)
        {
            @Html.ActionLink("Return to Home", "Home", "Dashboard", null, new { @class = "btn  p3 inputextShadow confirmButton" });
        }
        else
        {
            @Html.ActionLink("Return to Home", "Index", "LandingPage", null, new { @class = "btn  p3 inputextShadow confirmButton" });
        }
    </div>

</div>

<style>
    body {
        background-image: url(../../Media/Errors/InternalError.jpg);
        background-size: cover;
    }

    div > div {
        opacity: 1;
    }
</style>