﻿@model IEnumerable<NOSWebApp.Models.League>

@{
    ViewBag.Title = "Leagues";
}

<h2>Leagues</h2>

@if (User.IsInRole("LeagueAdmin"))
{
    @Html.ActionLink("Create new League", "Create")

    <p class="text-danger">
        @ViewBag.ErrorMessage
    </p>
}

<div class="row">

    <div class="col-12">
        <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#al" role="button" aria-expanded="false" aria-controls="al">Active Leagues</a>
        <div class="collapse show" id="al">

            <div class="row">

                @foreach (var league in Model.Where(l => l.IsActive))
                {
                    <div class="col-xl-2 col-md-3 col-sm-4 col-6 align-baseline py-3">

                        <a href="@Url.Action("Index","League",new {id = league.LeagueId })" class="row h-100 align-items-center border py-3 mx-1" id="LeagueBox">

                            <div class="col-12 text-center pb-2">

                                @if (league.LogoImage != null)
                                {
                                    <img src="@Url.Content(league.LogoImage)" class="w-75 border border-dark" />
                                }
                            </div>

                            <div class="col-12 align-self-end text-center">
                                <span>@league.Name</span>
                            </div>

                        </a>

                        @if (User.IsInRole("LeagueAdmin"))
                        {
                            <div class="col-12 text-center p-0">
                                @Html.ActionLink("Edit", "Edit", new { id = league.LeagueId })
                                <span>  |  </span>
                                @Html.ActionLink("Disable", "Disable", new { id = league.LeagueId })
                            </div>
                        }

                    </div>
                }

            </div>

        </div>
    </div>



    <div class="col-12 mt-5">
        <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#dl" role="button" aria-expanded="false" aria-controls="dl">Inactive Leagues</a>
        <div class="collapse" id="dl">

            <div class="row">

                @foreach (var league in Model.Where(l => !l.IsActive))
                {
                    <div class="col-xl-2 col-md-3 col-sm-4 col-6 align-baseline py-3">

                        <a href="@Url.Action("Index","League",new {id = league.LeagueId })" class="row h-100 align-items-center border py-3 mx-1" id="LeagueBox">

                            <div class="col-12 text-center pb-2">

                                @if (league.LogoImage != null)
                                {
                                    <img src="@Url.Content(league.LogoImage)" class="w-75 border border-dark" />
                                }
                            </div>

                            <div class="col-12 align-self-end text-center">
                                <span>@league.Name</span>
                            </div>

                        </a>

                        @if (User.IsInRole("LeagueAdmin"))
                        {
                            <div class="col-12 text-center p-0">
                                @Html.ActionLink("Edit", "Edit", new { id = league.LeagueId })
                                <span>  |  </span>
                                @Html.ActionLink("Enable", "Enable", new { id = league.LeagueId })
                            </div>
                        }

                    </div>
                }

            </div>

        </div>
    </div>
</div>


