﻿@using NOSWebApp.ViewModels
@model LoginViewModel

@{
    Layout = "~/Views/Shared/Layouts/_LayoutAlt.cshtml";
}


<!-- Modal -->
<!-- The Modal -->
<div class="modal fade text-body" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Warning</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                This is not a real betting website.
                <br />
                This was made as a School Projecto for CINEL.
                <br />
                By Ruben Mateus
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<img src="~/Media/Views/LandingPage/Light_Left.png" class="lightLeft" />
<img src="~/Media/Views/LandingPage/Light_Right.png" class="lightRight" />

<div class="container-fluid h-100">

    <div class="row align-items-center h-100">

        <div class="col-lg-6 d-flex justify-content-center">
            <img src="~/Media/Views/LandingPage/SoccerBetPromo.png" class="img-fluid" id="promo" alt="BetTilt Promo Image" />
        </div>

        <div class="col-lg-6 text-center">

            <img src="~/Media/Views/LandingPage/InspiringText.png" class="img-fluid" id="inspiringText" alt="BetTilt Inspiring Text" />

            <hr />

            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group d-flex justify-content-center">
                        <div class="col-8">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control inputextShadow", @placeholder = "Email" })

                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group d-flex justify-content-center">
                        <div class="col-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control inputextShadow", @placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group d-flex justify-content-center">
                        <div class="col-5">
                            <input type="submit" value="SIGN IN" class="btn w-100 p3 inputextShadow confirmButton" />
                        </div>
                    </div>
                    <p class="register col-12">
                        Dont have Account? @Html.ActionLink("Register Here!", "Register", controllerName: "Account")
                    </p>
                }
            </section>

        </div>

    </div>

</div>

<script>
    window.addEventListener('load', function () {
        //$("#myModal").modal("show");

    })

    


</script>