﻿html{
    height:100%;
    min-width:375px;
}

body {
    height:100%;
    background-color: #232323;
    color:white;
}

#container{
    min-height:100%;
    position:relative;
}

.container{
    padding-bottom:100px;
}

hr {
    border-color: #23232300;
}

.h-85{
    height:85%;
}

.lightLeft, .lightRight{
    position: absolute;
    width:40%;
}

.lightRight{
    right:0px;
}

.inputextShadow {   
    margin: 10px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: limegreen;
}

.inputextShadow:focus {
    box-shadow: 0px 3px 20px 0px lime;
    margin: 10px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: lime;
}


.confirmButton {
    border-style: solid;
    border-width: 1px;
    border-color: limegreen;

    background: limegreen;
    color: #f0f0f0;
    font-size: 25px;
}

.confirmButton:hover {
    box-shadow: 0px 3px 20px 0px lime;
    border-style: solid;
    border-width: 1px;
    border-color: lime;
    background: lime;
    color: white;
}

.register {
    color: #9f9f9f;
}

.register > a {
    color: #9f9f9f;
    text-decoration:underline;
}

.register > a:hover{
    color:white;
}

#promo {
    max-height: 760px;
}


.e-date-wrapper {
    width: 100%;
    margin-top: 11px;
    height: 36px;
    border-style: solid;
    border-width: 1px;
    border-color: limegreen;
}

#BirthDate:focus {
    box-shadow: 0px 3px 20px 0px lime;
    border-style: solid;
    border-width: 1px;
    border-color: lime;
    color: black;
}

#body{
    padding-bottom:100px
}

footer {  
    position:absolute;
    bottom:0px;

    height:100px;

    width: 100%;
    color: #656565;
}

#BirthDate {
    margin: auto;
    color: #5f506c;
}

@media (max-width: 991px) {


    #promo {
        max-height: 400px;
    }

    #inspiringText {
        max-height: 125px;
    }
}
