﻿$footer-size: 75px;

//general
html, body{
    height:100%;

    min-width:375px;
}

body {
    background-color: #242424;
    color:white;
}

tr{
    color:white;
}

#container {
    min-height: 100%;
    position: relative;
    
}

nav {
    background-color: #1a1a1a;
    padding: 5px 15px;
    color: #ccc;

    font-weight: bold;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}


a:hover{
    color:greenyellow;
}

nav a {
    text-decoration: none;

    color: inherit;
}

.adminNav {
    background-color: #202020;

    font-size:13px;
}

#content {
    padding-bottom: $footer-size + 50px;
    margin-top:15px;
}

footer {
    border-top: 1px solid #026200;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footer-size;

    background-color: #1a1a1a;
    color: #6c757d;

    padding-top: 5px;
    margin-top:20px;

    font-size:13px;
}



//Leagues Controller

#LeagueBox:hover{
    background-color:black;
}




// League Controler

    //Syncfusion Tab Controller

    e-content e-lib e-touch{
        height:auto;    
    }

    .e-tab .e-content .e-item {
        color: white;
    }

    .e-tab .e-tab-header:not(.e-vertical)::before{
        border-width:0 0 0px;
    }

    .e-tab .e-tab-header:not(.e-vertical) .e-toolbar-item.e-active{
        border-bottom: 0px solid green;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active {
        border: none;
    }

    .e-tab .e-tab-header .e-toolbar-item .e-tab-wrap:hover{
        border:none;
    }

    .e-tab .e-tab-header .e-toolbar-item .e-tab-wrap {
        color: grey;
    }

    .e-tab .e-tab-header .e-toolbar-item .e-tab-wrap:hover .e-tab-text, .e-tab .e-tab-header .e-toolbar-item .e-tab-wrap:hover .e-tab-icon{
        color:greenyellow;
    }
    .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-wrap:hover .e-tab-text, .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-wrap:hover .e-tab-icon{
        color:greenyellow;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-text, .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-icon {
        color: white;
    }

    //Accordian Bootstrap
    .btn-primary{
        background-color:transparent;
        border: none;
        border-bottom: 1px solid greenyellow;
    }

    .btn-primary:hover {
        background-color: transparent;
        border: none;
        border-bottom: 1px solid greenyellow;
        color:greenyellow;
    }

    .btn-primary:focus {    
    box-shadow:none;
    }

    .btn-info {
    background-color: green;
    border: none;

}

.btn-info:hover {
    background-color: yellowgreen;
    box-shadow: 0px 0px 20px 0px green;
}

#sideNav {
    display: none;
}

//CUSTOM SIDENAV
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    color:white;
    text-decoration:none;
    font-size:20px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: greenyellow;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    padding:0px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #101010;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 

@media (max-width: 930px){
    #maxNav{
        display:none;
    }
    #sideNav{
        display:flex;
    }
}


#leagueInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 5px;
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#clubInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 50%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 5px;
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#activeTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#activeTable th, #activeTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#activeTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#activeTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#leagueInput{
    border:solid 1px green;
}

#leagueInput:focus {
    box-shadow: 0px 0px 20px 0px green;
    border: solid 1px yellowgreen;
}

#clubInput {
    border: solid 1px green;
}

#clubInput:focus {
    border: solid 1px yellowgreen;
    box-shadow: 0px 0px 20px 0px green;
}