﻿@using NOSWebApp.ViewModels
@model ForgotPasswordViewModel
@{
    ViewBag.Tittle = "Forgot Your Password -";
    Layout = "~/Views/Shared/Layouts/_LayoutAlt.cshtml";
}

<img src="~/Media/Views/LandingPage/Light_Left.png" class="lightLeft" />
<img src="~/Media/Views/LandingPage/Light_Right.png" class="lightRight" />

<div id="container">
    <div class="container w-50 pt-4">

        <div class="h-100 row align-items-center">

            <div class="col-12 text-center">

                <a href="@Url.Action("Index", "LandingPage")"><img src="~/Media/Shared/Navbar/BetTiltLogo.png" class="w-75" />            </a>
                <hr />

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-row", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group col-sm-12">
                        <h4>Enter your email.</h4>
                    </div>
                    
                    <hr />

                    <div class="form-group col-sm-12">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control inputextShadow" })
                    </div>

                    <div class="form-group col-md-12">
                        <input type="submit" class="btn w-100 p3 inputextShadow confirmButton" value="Email Link" />
                    </div>

                    <p class="register  col-12 text-center">
                        Already have an Account? @Html.ActionLink("Log In Here!", "Login", controllerName: "Account")
                    </p>

                    <p class="register col-12">
                        Dont have Account? @Html.ActionLink("Register Here!", "Register", controllerName: "Account")
                    </p>
                }

            </div>
        </div>
    </div>

    <footer class="container-fluid border-top text-center">
        <p>©Copyright @DateTime.Now.Year - BetTilt by Ruben Mateus</p>
        <p>DISCLAIMER: THIS IS NOT A REAL BETTING WEBSITE, BUT A SCHOOL PROJECT</p>
    </footer>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


