﻿@{
    ViewBag.Title = "Forgot Password Confirmation -";
    Layout = "~/Views/Shared/Layouts/_LayoutAlt.cshtml";
}




<img src="~/Media/Views/LandingPage/Light_Left.png" class="lightLeft" />
<img src="~/Media/Views/LandingPage/Light_Right.png" class="lightRight" />

<div id="container">
    <div class="container w-50 pt-4">

    <div class="h-100 row align-items-center">

        <div class="col-12 text-center">

            <a href="@Url.Action("Index", "LandingPage")"><img src="~/Media/Shared/Navbar/BetTiltLogo.png" class="w-75" />            </a>
            <hr />

            <hgroup class="title">
                <h1>Forgot Password Confirmation</h1>
            </hgroup>
            <div>
                <p>
                    Please check your email to reset your password.
                </p>
            </div>

        </div>
    </div>
</div>
<hr />

<footer class="container-fluid border-top text-center">
    <p>©Copyright @DateTime.Now.Year - BetTilt by Ruben Mateus</p>
    <p>DISCLAIMER: THIS IS NOT A REAL BETTING WEBSITE, BUT A SCHOOL PROJECT</p>
</footer>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


