﻿@model NOSWebApp.ViewModels.RegisterViewModel
@{
    ViewBag.Tittle = "Register -";
    Layout = "~/Views/Shared/Layouts/_LayoutAlt.cshtml";
}

<img src="~/Media/Views/LandingPage/Light_Left.png" class="lightLeft" />
<img src="~/Media/Views/LandingPage/Light_Right.png" class="lightRight" />

<div id="container">
    <div class="container w-50 pt-3">

    <div class="h-100 row align-items-center">

        <div class="col-12 text-center">

            <a href="@Url.Action("Index", "LandingPage")"><img src="~/Media/Shared/Navbar/BetTiltLogo.png" id="logo" class="mb-2 w-75" /></a>

            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-row", role = "form" }))
            {
                <div class="form-group col-md-12">
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                </div>

                @Html.AntiForgeryToken()

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.FirstName, new { @class = "" })
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control inputextShadow" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.LastName, new { @class = "" })
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control inputextShadow" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.BirthDate, new { @class = "" })
                    @Html.EJS().DatePickerFor((model => model.BirthDate)).Placeholder("Birthay Date").ShowTodayButton(false).Max(new DateTime(DateTime.Now.Year - 18,DateTime.Now.Month,DateTime.Now.Day)).CssClass("inputextShadow").Format("dd/MMM/yyyy").Render()
                    <div> @Html.ValidationMessageFor(model => model.BirthDate) </div>
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.PostalCode, new { @class = "" })
                    @Html.TextBoxFor(m => m.PostalCode, new { @class = "form-control inputextShadow" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.UserName, new { @class = "" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control inputextShadow" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Email, new { @class = "" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control inputextShadow" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.Password, new { @class = "" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control inputextShadow" })
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control inputextShadow" })
                </div>

                <div class="form-group col-12">
                    <input type="submit" value="REGISTER" class="btn w-100 p3 inputextShadow confirmButton" />
                </div>
                <p class="register  col-12 text-center">
                    Already have an Account? @Html.ActionLink("Log In Here!", "Login", controllerName: "Account")
                </p>

            }

        </div>



    </div>

</div>

<footer class="container-fluid border-top text-center">
    <p>©Copyright @DateTime.Now.Year - BetTilt by Ruben Mateus</p>
    <p>DISCLAIMER: THIS IS NOT A REAL BETTING WEBSITE, BUT A SCHOOL PROJECT</p>
</footer>
</div>








@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
