﻿@model NOSWebApp.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/Layouts/_LayoutAlt.cshtml";
}

<img src="~/Media/Views/LandingPage/Light_Left.png" class="lightLeft" />
<img src="~/Media/Views/LandingPage/Light_Right.png" class="lightRight" />

<div id="container">
    <div class="container w-50 pt-4">

        <div class="h-100 row align-items-center">

            <div class="col-12 text-center">

                <a href="@Url.Action("Index", "LandingPage")"><img src="~/Media/Shared/Navbar/BetTiltLogo.png" class="w-75" />            </a>
                <hr />
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)


                    <div class="form-group col-md-12">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col-md-12">
                        <h3>Reset Password</h3>
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-12">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>

                    <div class="form-group col-md-12">
                        <input type="submit" value="RESET" class="btn w-100 p3 inputextShadow confirmButton" />
                    </div>

                }
            </div>
        </div>

    </div>

    <footer class="container-fluid border-top text-center">
        <p>©Copyright @DateTime.Now.Year - BetTilt by Ruben Mateus</p>
        <p>DISCLAIMER: THIS IS NOT A REAL BETTING WEBSITE, BUT A SCHOOL PROJECT</p>
    </footer>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
