﻿
@model NOSWebApp.ViewModels.ClubStatsView

@{
    ViewBag.Title = Model.Club.Name.ToUpper() + " - All Stats";
}

@if (Model.Club.SeasonPlayed.Where(s => s.SeasonStatus == NOSWebApp.Models.SeasonStatus.Finished).Count() != 0)
{
<div class="row mt-3">

    <div class="col-12">

        <div class="row ">

            <div class="col-7 align-self-center">
                <a href="@Url.Action("Index", "Club", new { id = Model.Club.ClubId })"><h1>@Model.Club.Name.ToUpper()</h1></a>
            </div>

            <div class="col-5 d-flex flex-row-reverse">
                <img src="@Url.Content(Model.Club.LogoImage)" class="img-fluid"/>
            </div>
        </div>

    </div>

    <div class="col-12 mt-3">

        <div class="row">

            <div class="col-md-6" style="border:solid 1px white;">
                <h3 class="m-2">General</h3>
                <ul>
                    <li>Seasons Played: @Model.SeasonsPlayed.Count()</li>
                    <li>Fixtures Played: @Model.FixturesPlayed</li>
                    <li>GameMatched Played: @Model.GameMatchPlayed.Count()</li>
                </ul>
            </div>

            <div class="col-md-6" style="border:solid 1px white">
                <h3 class="m-2">Goals Information</h3>

                <div class="row">

                    <div class="col-6" style="border:solid 1px white">
                        <h5 class="m-2"> Goals Scored</h5>
                        <ul>
                            <li>Total Goals Scored: @Model.GoalsScored</li>
                            <li>Total Goals Scored Home: @Model.GoalsScoredHome</li>
                            <li>Total Goals Scored Away: @Model.GoalsScoredAway</li>
                        </ul>
                    </div>

                    <div class="col-6" style="border:solid 1px white">
                        <h5 class="m-2"> Goals Scored</h5>
                        <ul>
                            <li>Total Goals Conceded: @Model.GoalsConceded</li>
                            <li>Total Goals Conceded Home: @Model.GoalsConcededHome</li>
                            <li>Total Goals Conceded Away: @Model.GoalsConcededAway</li>
                        </ul>
                    </div>

                </div>

            </div>

            <div class="col-md-4" style="border:1px solid white">
                <h3 class="m-2"> Victories</h3>

                <ul>
                    <li>Total Victories: @Model.Victories</li>
                    <li>Total Home Victories: @Model.HomeVictories</li>
                    <li>Total Away Victories: @Model.AwayVictories</li>
                </ul>
            </div>

            <div class="col-md-4" style="border:1px solid white">
                <h3 class="m-2"> Draws </h3>

                <ul>
                    <li>Total Draws: @Model.Draws</li>
                    <li>Total Home Draws: @Model.HomeDraws</li>
                    <li>Total Away Draws: @Model.AwayDraws</li>
                </ul>
            </div>

            <div class="col-md-4" style="border:1px solid white">
                <h3 class="m-2"> Defeats</h3>

                <ul>
                    <li>Total Defeats: @Model.Defeats</li>
                    <li>Total Home Defeats: @Model.HomeDefeats</li>
                    <li>Total Away Defeats: @Model.AwayDefeats</li>
                </ul>
            </div>

            <div class="col-12" style="border:1px solid white">
                <h3 class="my-2">Misc Information</h3>

                <div class="row">

                    <div class="col-md-3 pb-3" style="border:1px solid white">

                        <h5 class="m-2"> Club Best Classification</h5>
                        <a href="@Url.Action("Index", "Season", new { id = Model.BestClassificationSeason.SeasonId })">
                            <span class="text-center">
                                Season: @Model.BestClassificationSeason.StartDate.ToShortDateString()/@Model.BestClassificationSeason.EndDate.Value.ToShortDateString()
                                <br />
                                Position: @Model.BestClassification
                            </span>
                        </a>


                    </div>

                    <div class="col-md-3 pb-3" style="border:1px solid white">

                        <h5 class="m-2"> Club Best Points</h5>
                        <a href="@Url.Action("Index", "Season", new { id = Model.BestPointsMadeSeason.SeasonId })">
                            <span class="text-center">
                                Season: @Model.BestPointsMadeSeason.StartDate.ToShortDateString()/@Model.BestPointsMadeSeason.EndDate.Value.ToShortDateString()
                                <br />
                                Points: @Model.BestPoints
                            </span>
                        </a>


                    </div>

                    <div class="col-md-3 pb-3" style="border:1px solid white">

                        <h5 class="m-2"> Club Worst Classification</h5>
                        <a href="@Url.Action("Index", "Season", new { id = Model.WorstClassificationSeason.SeasonId })">
                            <span class="text-center">
                                Season: @Model.WorstClassificationSeason.StartDate.ToShortDateString()/@Model.WorstClassificationSeason.EndDate.Value.ToShortDateString()
                                <br />
                                Position: @Model.WorstClassification
                            </span>
                        </a>


                    </div>

                    <div class="col-md-3 pb-3" style="border:1px solid white">

                        <h5 class="m-2"> Club Worst Points</h5>
                        <a href="@Url.Action("Index", "Season", new { id = Model.WorstPointsMadeSeason.SeasonId })">
                            <span class="text-center">
                                Season: @Model.WorstPointsMadeSeason.StartDate.ToShortDateString()/@Model.WorstPointsMadeSeason.EndDate.Value.ToShortDateString()
                                <br />
                                Points: @Model.WorstPointsMade
                            </span>
                        </a>


                    </div>

                </div>

            </div>
        </div>

    </div>

</div>
}
else
{
<div class="row mt-3">

    <div class="col-12">

        <div class="row ">

            <div class="col-7 align-self-center">
                <a href="@Url.Action("Index", "Club", new { id = Model.Club.ClubId })"><h1>@Model.Club.Name.ToUpper()</h1></a>
            </div>

            <div class="col-5 d-flex flex-row-reverse">
                <img src="@Url.Content(Model.Club.LogoImage)" class="img-fluid" />
            </div>
        </div>

    </div>

    <div class="col-12">

        <h4> This club doen't have stats yet</h4>

    </div>
</div>
    }
