﻿
@model NOSWebApp.ViewModels.ClubStatsView

@{
    ViewBag.Title = $"{Model.Club.Name.ToUpper()} - {Model.Season.StartDate.Month}.{Model.Season.StartDate.Year}/{Model.Season.EndDate.Value.Month}{Model.Season.EndDate.Value.Year} -";
}

    <div class="row mt-3">

        <div class="col-12">

            <div class="row ">

                <div class="col-7 align-self-center h-100">
                    
                    <div class="row h-100">

                        <div class="col-12">
                            <a href="@Url.Action("Index","Club",new {id = Model.Club.ClubId })"><h1>@Model.Club.Name.ToUpper()</h1></a>
                        </div>

                        <div class="col-12 align-self-end">
                            <a href="@Url.Action("Index","Season",new {id = Model.Season.SeasonId })"><h4>Season: @Model.Season.StartDate.ToShortDateString() - @Model.Season.EndDate.Value.ToShortDateString()</h4></a>
                        </div>

                    </div>


                </div>


                <div class="col-5 d-flex flex-row-reverse">
                    <img src="@Url.Content(Model.Club.LogoImage)" class="img-fluid" />
                </div>
            </div>

        </div>

        <div class="col-12 mt-3">

            <div class="row">

                <div class="col-md-6" style="border:solid 1px white;">
                    <h3 class="m-2">General</h3>
                    <ul>
                        <li>Fixtures Played: @Model.FixturesPlayed</li>
                        <li>GameMatched Played: @Model.GameMatchPlayed.Count()</li>
                    </ul>
                </div>

                <div class="col-md-6" style="border:solid 1px white">
                    <h3 class="m-2">Goals Information</h3>

                    <div class="row">

                        <div class="col-6" style="border:solid 1px white">
                            <h5 class="m-2"> Goals Scored</h5>
                            <ul>
                                <li>Total Goals Scored: @Model.GoalsScored</li>
                                <li>Total Goals Scored Home: @Model.GoalsScoredHome</li>
                                <li>Total Goals Scored Away: @Model.GoalsScoredAway</li>
                            </ul>
                        </div>

                        <div class="col-6" style="border:solid 1px white">
                            <h5 class="m-2"> Goals Scored</h5>
                            <ul>
                                <li>Total Goals Conceded: @Model.GoalsConceded</li>
                                <li>Total Goals Conceded Home: @Model.GoalsConcededHome</li>
                                <li>Total Goals Conceded Away: @Model.GoalsConcededAway</li>
                            </ul>
                        </div>

                    </div>

                </div>

                <div class="col-md-4" style="border:1px solid white">
                    <h3 class="m-2"> Victories</h3>

                    <ul>
                        <li>Total Victories: @Model.Victories</li>
                        <li>Total Home Victories: @Model.HomeVictories</li>
                        <li>Total Away Victories: @Model.AwayVictories</li>
                    </ul>
                </div>

                <div class="col-md-4" style="border:1px solid white">
                    <h3 class="m-2"> Draws </h3>

                    <ul>
                        <li>Total Draws: @Model.Draws</li>
                        <li>Total Home Draws: @Model.HomeDraws</li>
                        <li>Total Away Draws: @Model.AwayDraws</li>
                    </ul>
                </div>

                <div class="col-md-4" style="border:1px solid white">
                    <h3 class="m-2"> Defeats</h3>

                    <ul>
                        <li>Total Defeats: @Model.Defeats</li>
                        <li>Total Home Defeats: @Model.HomeDefeats</li>
                        <li>Total Away Defeats: @Model.AwayDefeats</li>
                    </ul>
                </div>

                <div class="col-12" style="border:1px solid white">
                    <h3 class="my-2">Misc Information</h3>

                    <div class="row">

                        <div class="col-md-6 pb-3" style="border:1px solid white">

                            <h5 class="m-2"> Club Season Placement</h5>
                            <span class="text-center">
                                Season Classification: @Model.SeasonClassification
                                <br />
                                Season Points: @Model.SeasonPts
                            </span>
                            </a>


                        </div>

                        <div class="col-md-6 pb-3" style="border:1px solid white">

                            <h5 class="m-2"> Season Clubs</h5>

                            <div class="row justify-content-around">

                                @foreach (var item in Model.Season.SeasonClubs)
                                {
                                <div class="col-md-3 col-sm-4 col-6 text-center my-2">
                                    <a href="@Url.Action("Index","Club",new {id = item.ClubId })">
                                        <img src="@Url.Content(item.LogoImage)" height="25" />
                                        <br />
                                        <span>@item.Name</span>
                                    </a>
                                </div>

                                    
                                }

                            </div>
                            


                        </div>


                    </div>

                </div>
            </div>

        </div>

    </div>




