﻿@model NOSWebApp.Models.Club

@{
    ViewBag.Title = "ClubFans";
}


    <div class="row"

        <div class=" col-9 align-self-center">
            <a href="@Url.Action("Index","Club",new {id = Model.ClubId })"><h1>@Model.Name.ToUpper()</h1></a>
        </div>

        <div class="col-3 d-flex flex-row-reverse">
            <img src="@Url.Content(Model.LogoImage)" class="img-fluid" />
        </div>

        <div class="col-12">
            <h2>Fans:</h2>

            <table class="table text-center mt-3" style="border:white 1px solid">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Fans.First().ProfilePic)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fans.First().UserName)
                    </th>


                </tr>

                @foreach (var item in Model.Fans)
                {
                    <tr>
                        <td>
                            @if (!string.IsNullOrEmpty(item.ProfilePic))
                            {
                                <img src="@Url.Content(item.ProfilePic)" alt="@item.FullName" style="width: 50px; height: 50px;" />
                            }
                        </td>

                        <td>
                            <a href="@Url.Action("Home","Dashboard",new {id = item.Id})"> @Html.DisplayFor(modelItem => item.UserName)</a>
</td>

                    </tr>
                }

            </table>
        </div>

    </div>



