﻿
@model NOSWebApp.ViewModels.ClubStatsView

@{
    ViewBag.Title = Model.Club.Name;
}


    <div class="row">
        @if (User.IsInRole("LeagueAdmin"))
        {
        <div class="col-12">
            <h3>@Html.ActionLink("Edit", "Edit","Clubs", new { id = Model.Club.ClubId },null)</h3>
        </div>
        }
        <div class="col-12">
            <h1>@Model.Club.Name.ToUpper()</h1>
        </div>


        <div class="col-md-2 col-sm-3 col-5">

            <div class="row">

                <div class="col-12">

                    <img src="@Url.Content(Model.Club.LogoImage)" class="img-fluid" height="200" style="min-width:117px"/>

                </div>

            </div>            
        </div>

        <div class="col-md-10 col-sm-9 col-7">

            <div class="row h-100">

                <div class="col-12 align-self-start">
                    Stadium:

                    @Model.Club.Stadium
                </div>

                <div class="col-12 col align-self-center">
                    Description:

                    @Model.Club.Description
                </div>

                <div class="col-12 col align-self-end">
                    Fans:
  
                    @Model.Club.Fans.Count()
                </div>

                <div class="col-12 align-self-end">
                    @if (Model.Club.SeasonPlayed.Where(s => s.SeasonStatus == NOSWebApp.Models.SeasonStatus.Finished).Count() != 0)
                    {
                    <a href="@Url.Action("AllStats", new { id = Model.Club.ClubId })">See all Stats</a>
                    <span> | </span>
                    }
                    <a href="@Url.Action("ClubFans",new {id = Model.Club.ClubId })">See Club Fans</a>
                </div>
            </div>

        </div>

        <div class="col-12 mt-5">

            <div class="table-responsive">

                <table class="table text-center" style="border:1px solid white">

                    <thead>
                        <tr class="">

                            <th>Season Date</th>
                            <th>Details</th>

                        </tr>
                    </thead>

                    @foreach (var season in Model.SeasonsPlayed.Where(s => s.SeasonStatus == NOSWebApp.Models.SeasonStatus.Finished).OrderByDescending(s => s.SeasonId))
                    {


                        <tbody>
                            <tr>
                                <td>@season.StartDate.ToShortDateString() - @season.EndDate.Value.ToShortDateString()</td>
                                <td>@Html.ActionLink("See Club Season Details", "AllSeasonClubStats", new { id = Model.Club.ClubId, seasonID = season.SeasonId })</td>
                            </tr>
                        </tbody>                        
                    }
                </table>

            </div>

        </div>

    </div>

