﻿@model NOSWebApp.Models.Club

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm("Edit", "Clubs", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-row", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ClubId)
    @Html.HiddenFor(model => model.LogoImage)
    <div class="row w-100">

        <div class="col-12">
            @Html.ValidationSummary("", new { @class = "text-danger" })
        </div>

        <div class="col-6 ">

            <div class="row h-100 align-items-center">

                <div class="col-12">
                    @Html.LabelFor(m => m.Name, new { @class = "" })
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control inputextShadow" })
                </div>



                <div class="col-12 mt-3">
                    @Html.LabelFor(m => m.Description, new { @class = "" })
                    @Html.TextBoxFor(m => m.Description, new { @class = "form-control inputextShadow" })
                </div>

                <div class="col-12 mt-3">
                    @Html.LabelFor(m => m.Stadium, new { @class = "" })
                    @Html.TextBoxFor(m => m.Stadium, new { @class = "form-control inputextShadow" })
                </div>

            </div>


        </div>

        <div class="col-6">

            <div class="row text-center">

                <div class="col-12">
                    Club logo
                </div>

                <div class="col-12 mt-2">
                    <img id="blah" src="@Url.Content(Model.LogoImage)" alt="Preview Image" height="200" />
                </div>

                <div class="col-12 mt-2">
                    @Html.TextBoxFor(model => model.ImageUrl, new { type = "file", id = "imgInp" })
                </div>

            </div>

        </div>

        <div class="col-12 mt-5">

            @Html.LabelFor(model => model.LeagueId, "League", htmlAttributes: new { @class = "" })
            @Html.DropDownList("LeagueId", null, htmlAttributes: new { @class = "form-control" })

        </div>

        <hr />

        <div class="col-12 mt-5">
            <input type="submit" value="Save Changes" class="btn p3 btn-info" />
        </div>

        <div class="col-12 mt-2">
            <a href="@Url.Action("Index")">
                Back to clubs
            </a>
        </div>
    </div>


}

<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInp").change(function () {
        readURL(this);
    });
</script>
