﻿@model IEnumerable<NOSWebApp.Models.Club>

@{
    ViewBag.Title = "Clubs";
}

<h2>Clubs</h2>

@if (User.IsInRole("LeagueAdmin"))
{

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <p class="text-danger">
        @ViewBag.ErrorMessage
    </p>
}



<div class="row">

    <div class="col-12">

        <div class="row justify-content-center">

            <div class="col-sm-6  text-center">

                <input type="text" id="leagueInput" onkeyup="SEARCHME()" placeholder="Search for leagues" class="">

            </div>

            <div class="col-sm-6 text-center">

                <input type="text" id="clubInput" onkeyup="SEARCHME()" placeholder="Search for clubs">

            </div>

        </div>

    </div>

    <div class="col-12">

        <div class="row justify-content-center">

            <div class="col-12 text-center mt-2">
                <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#cwlca" role="button" aria-expanded="false" aria-controls="cwlca">Active Clubs</a>
                <div class="collapse show row justify-content-center" id="cwlca">

                    <div class="table-responsive w-75">

                        <table id="clubsATable" class="table" style="border:1px solid white">

                            <thead>
                                <tr class="text-center">
                                    <th>League Name</th>
                                    <th>Club Name</th>
                                    <th>Club Description</th>
                                    <th>Club Stadium</th>
                                    <th>Club Fans</th>
                                    <th></th>
                                    @if (User.IsInRole("LeagueAdmin"))
                                    {
                                        <th></th>
                                        <th></th>
                                    }
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var club in Model.Where(c => c.IsActive).OrderBy(c => c.Name))
                                {
                                    <tr class="text-center">
                                        <td>@(club.League != null ? club.League.Name : "N/A")</td>
                                        <td>
                                            @if (club.LogoImage != null)
                                            {<img src="@Url.Content(club.LogoImage)" height="50" />}
                                            else
                                            {
                                                <img src="~/Media/Shared/noImageAvailable.png" height="50" />
                                            }
                                            @club.Name
                                        </td>
                                        <td>@club.Description</td>
                                        <td>@club.Stadium</td>
                                        <td>@club.Fans.Count()</td>
                                        <td>@Html.ActionLink("View", "Index", "Club", new { id = club.ClubId }, null)</td>
                                        @if (User.IsInRole("LeagueAdmin"))
                                        {
                                            <td>@Html.ActionLink("Edit", "Edit", new { id = club.ClubId })</td>
                                            <td>@Html.ActionLink("Disable", "Disable", "Clubs", new { id = club.ClubId }, null)</td>
                                        }
                                    </tr>
                                }
                            </tbody>

                        </table>

                    </div>

                </div>
            </div>

            <div class="col-12" style="border:solid 20px transparent">

            </div>

            <div class="col-12 text-center mt-2">
                <a class="btn btn-primary w-100 mb-2" data-toggle="collapse" href="#cwlcd" role="button" aria-expanded="false" aria-controls="cwlcd">Inactive Clubs</a>

                    <div class="collapse show row justify-content-center" id="cwlcd">

                        <div class="table-responsive w-75">

                            <table id="clubsITable" class="table" style="border:1px solid white">

                                <thead>
                                    <tr class="text-center">
                                        <th>League Name</th>
                                        <th>Club Name</th>
                                        <th>Club Description</th>
                                        <th>Club Stadium</th>
                                        <th>Club Fans</th>
                                        <th></th>
                                        @if (User.IsInRole("LeagueAdmin"))
                                        {
                                            <th></th>
                                            <th></th>
                                        }
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var club in Model.Where(c => !c.IsActive).OrderBy(c => c.Name))
                                    {
                                        <tr class="text-center">
                                            <td>@(club.League != null ? club.League.Name : "N/A")</td>
                                            <td>
                                                @if (club.LogoImage != null)
                                                {<img src="@Url.Content(club.LogoImage)" height="50" />}
                                                else
                                                {
                                                    <img src="~/Media/Shared/noImageAvailable.png" height="50" />
                                                }
                                                @club.Name
                                            </td>
                                            <td>@club.Description</td>
                                            <td>@club.Stadium</td>
                                            <td>@club.Fans.Count()</td>
                                            <td>@Html.ActionLink("View", "Index", "Club", new { id = club.ClubId }, null)</td>
                                            @if (User.IsInRole("LeagueAdmin"))
                                            {
                                                <td>@Html.ActionLink("Edit", "Edit", new { id = club.ClubId })</td>
                                                <td>@Html.ActionLink("Enable", "Enable", "Clubs", new { id = club.ClubId }, null)</td>
                                            }
                                        </tr>
                                    }
                                </tbody>

                            </table>

                        </div>

                    </div>

            </div>


        </div>

    </div>

</div>

<script>

    function SEARCHME() {

        var leagueInput, leagueFilter;
        var clubInput, clubFilter;
        var table, tr, tdLeague,tdClub, i, txtValueLeague, txtValueClub;

        leagueInput = document.getElementById("leagueInput");
        leagueFilter = leagueInput.value.toUpperCase();

        clubInput = document.getElementById("clubInput");
        clubFilter = clubInput.value.toUpperCase();

        table = document.getElementById("clubsATable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            tdLeague = tr[i].getElementsByTagName("td")[0];
            tdClub = tr[i].getElementsByTagName("td")[1];

            if (tdLeague || tdClub) {
                txtValueLeague = tdLeague.textContent || tdLeague.innerText;
                txtValueClub = tdClub.innerText;

                

                if (txtValueLeague.toUpperCase().indexOf(leagueFilter) > -1 && txtValueClub.toUpperCase().indexOf(clubFilter) > -1) {
                    tr[i].style.display = "";
                }
                else {
                    tr[i].style.display = "none";
                }
            }
        }

        table = document.getElementById("clubsITable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            tdLeague = tr[i].getElementsByTagName("td")[0];
            tdClub = tr[i].getElementsByTagName("td")[1];

            if (tdLeague || tdClub) {
                txtValueLeague = tdLeague.textContent || tdLeague.innerText;
                txtValueClub = tdClub.innerText;

                

                if (txtValueLeague.toUpperCase().indexOf(leagueFilter) > -1 && txtValueClub.toUpperCase().indexOf(clubFilter) > -1) {
                    tr[i].style.display = "";
                }
                else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>